.card {
  background-image: url(https://i.pinimg.com/originals/70/2e/c0/702ec04747431c044bd8370677f16d00.jpg);
  max-width: 600px !important;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.4s ease-in-out;
  }

  .chakra-card__footer {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #222225;
    color: white;
  }

  .chakra-heading {
    font-size: 32px;
    color: white;
    letter-spacing: 4px;
    font-style: italic;
  }
}
